.recipe-card {
  max-width: 250px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: wrap;
  margin-left: 40px;
  box-shadow: 12px 12px 10px 1px lightgray;
  border-radius: 10px;
  opacity: 1;
  font: "raleway", sans serif;
}

.recipe-card > a {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%);
  border-radius: 10px;
}

.card-img:hover {
  opacity: 0.7;
  transition: 0.3s;
  z-index: 0;
}

.recipe-card-title {
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  color: white;
  text-decoration-line: none;
  display: flex;
  position: absolute;
  z-index: 1;
  background: transparent;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-end;
  pointer-events: none;
  width: 110px;
  height: 220px;
}

.button-favorite {
  width: 50px;
  position: absolute;
  z-index: 2;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 8px;
}

.card-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 80 0 0px;
  cursor: pointer;
}

.icon {
  width: 45px;
}

.a {
  display: none;
}
