@media (min-width: 700px) {
  .content-container {
    min-height: 100vh;
  }
}

.mood > a {
  background-color: #ffc09f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.header {
  padding: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.button-favorite:focus {
  outline: none;
}

.moods-cards {
  position: relative;
  width: 280px;
  height: 350px;
  background: url("./images/dinnerWithFriends.jpg") 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mood-card {
  height: 280px;
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mood-card-overlay {
  position: absolute;
  height: 280px;
  width: 350px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.7)
  );
  border-radius: 10px;
}

.mood-card-image {
  position: absolute;
  height: 280px;
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.mood-card-title {
  position: absolute;
  z-index: 3;
  color: white;
  text-align: center;
}
